html {
  position: relative;
  min-height: 100%;
}
.float-right{
  float: right;
}
.navbar {
  transition: background-color .15s ease-in-out;
}
.navbar > div > .navbar-brand > img {
  width: 250px;
  transition: width .15s ease-in-out;
}
.navbar-scroll {
  background-color: #19d419;
}
.navbar-scroll > div > div > ul > li > .nav-link:hover {
  color: #fff !important;
}
.navbar-scroll > div > .navbar-brand > img {
  width: 200px !important;
}
.nav-link:hover{
  color: #19d419 !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #0ea50e;
  border-color: #0f800f;
}
.btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem #0f800f7c;
}
.btn-primary {
  background-color: #19d419;
  border-color: #16bb16;
}
.container.main {
  margin-top: 100px;
  margin-bottom: 50px;
}
.genre-selector {
  margin-bottom: 25px;
}
.genre-selector > div {
  margin-bottom: 15px;
}
.header-hr {
  margin: 0;
}
.genre-title > span {
  font-size: 60%;
}
.movie-poster {
  padding-top: 15px;
  padding-bottom: 15px;
}
.movie-poster > a > img {
  width: 100%;
}
.movie-preview {
  margin-top: 40vh;
}
.backdrop-image {
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.youtube-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
iframe.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movie-highlight {
  color: #19d419;
}
.favorite-button{
  border: unset;
  background-color: unset;
  color: rgb(99, 99, 99);
}
.favorite-button.not-fav:hover {
  color: red;
}
.favorite-button.fav {
  color: red;
}
.favorite-button.fav:hover {
  color: rgb(99, 99, 99);
}
.footer {
  position: unset;
  bottom: 0;
  width: 100%;
}
.footer-links {
  margin: 15px 15px 15px 0;
}
.footer-links > a {
  padding: 15px 15px 15px 0;
  display: block;
  border-bottom: 1px solid #818186;
  text-decoration: none;
  color: #fff;
}
.footer-links > a:last-child {
  border-bottom: unset;
}
.footer-links > a:hover {
  color: #19d419;
  transition: color .15s ease-in-out;
}